<html>

<body>

<center>

<h2>Please Enter The Long Url</h2>

<form action="<%= shortened_url_path %>" method="post">
  <input type="text" value="" name="original_url"/> 
  <input type="submit" value="Submit">
</form>

</center>

</body>

</html>
